<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <variable name="appname" value="NLogSample" />
        <targets>
            <target name="file"
                    xsi:type="File"
                    fileName="debug.log"
                    layout="${longdate} ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
                    keepFileOpen="false"/>
            <target name="console"
                    xsi:type="ColoredConsole"
                    layout="${level:uppercase=true}: ${message}"/>
            <!-- To log to the event log, an event source is required to exist. This involves creating the event source. -->
            <!-- When installing, the event source can only be created when run as an Administrator. -->
            <!-- Alternatively a simple PowerShell command to create this source is shown below (run PowerShell as Administrator). -->
            <!-- New-EventLog -LogName Application -Source "${appname}" -->
            <target name="eventlog"
                    xsi:type="EventLog"
                    source="${appname}"
                    layout="${message}${newline}${exception:format=ToString}"/>
        </targets>
        <rules>
            <logger name="*" minLevel="Debug" appendTo="file"></logger>
            <logger name="*" minLevel="Info" appendTo="console"></logger>
            <logger name="*" minLevel="Fatal" writeTo="eventlog"></logger>
        </rules>
    </nlog>
</configuration>